@inject IJSRuntime JsRuntime

<main class="w-full">
    <div class="mb-[10px]">
        <h2 class="inline-block text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Тип произведения:</h2>
        <ValidationMessage class="inline-block text-[16px] font-bold text-red-600 mb-[5px] text-center" For="@(() => Movie.Type)"/>
        <InputSelect class="h-[34px] text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] placeholder-neutral-500 w-full box-border" @bind-Value="Movie.Type">
            <option selected disabled hidden>Выберите тип</option>
            <option value="@MovieType.Film">Фильм</option>
            <option value="@MovieType.Series">Сериал</option>
            <option value="@MovieType.Show">Шоу</option>
            <option value="@MovieType.Cartoon">Мультфильм</option>
        </InputSelect>
    </div>
    <div class="mb-[10px]">
        <h2 class="inline-block text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Название:</h2>
        <ValidationMessage class="inline-block text-[16px] font-bold text-red-600 mb-[5px] text-center" For="@(() => Movie.Name)"/>
        <InputText class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] placeholder-neutral-500 w-full box-border" placeholder="Введите название..." @bind-Value="Movie.Name"/>
    </div>
    <div class="mb-[10px]">
        <h2 class="inline-block text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Год выхода:</h2>
        <ValidationMessage class="inline-block text-[16px] font-bold text-red-600 mb-[5px] text-center" For="@(() => Movie.ReleaseYear)"/>
        <InputNumber class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] placeholder-neutral-500 w-full box-border" placeholder="Введите год..." @bind-Value="Movie.ReleaseYear"/>
    </div>
    <div class="mb-[10px]">
        <h2 class="inline-block text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Длительность в минутах:</h2>
        <ValidationMessage class="inline-block text-[16px] font-bold text-red-600 mb-[5px] text-center" For="@(() => Movie.Duration)"/>
        <InputNumber class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] placeholder-neutral-500 w-full box-border" placeholder="Введите длительность..." @bind-Value="Movie.Duration"/>
    </div>
    <div class="mb-[10px]">
        <h2 class="inline-block text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Жанр:</h2>
        <ValidationMessage class="inline-block text-[16px] font-bold text-red-600 mb-[5px] text-center" For="@(() => Movie.Genres)"/>
        <div class="flex flex-wrap gap-[5px]">
            @foreach (var genre in Movie.Genres)
            {
                <InteractiveDataValue TItem="Genre" Data="@genre" RemoveData="RemoveGenre"/>
            }
            <input class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] placeholder-neutral-500" placeholder="Введите значение..." @ref="GenreInput" @onkeydown="AddGenreOnEnterDown" @onfocusout="AddGenre" @bind="Genre" @bind:event="oninput"/>
        </div>
    </div>
    <div class="mb-[10px]">
        <h2 class="inline-block text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Оценка:</h2>
        <InputSelect class="h-[34px] text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] block placeholder-neutral-500 w-[188px] box-border" @bind-Value="Movie.Score">
            @for (var index = 10; index > 0; index--)
            {
                <option value="@index">@((float)index / 2)</option>
            }
            <option value="0">0</option>
        </InputSelect>
    </div>
    <div>
        <h2 class="text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">Заметка:</h2>
        <textarea class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] block placeholder-neutral-500 w-full box-border h-[90px] resize-none" placeholder="Введите текст заметки..." resize="none" @bind="Movie.Note" @bind:event="oninput"></textarea>
    </div>
</main>

@code {

    [Parameter]
    public Movie Movie { get; set; } = null!;
    
    private string Genre { get; set; } = string.Empty;

    private ElementReference GenreInput { get; set; }

    private void AddGenreOnEnterDown(KeyboardEventArgs args)
    {
        if (IsEnterPressed(args))
            AddGenre();
    }

    private void AddGenre()
    {
        if (IsInputFieldEmpty(Genre))
            return;

        var genre = new Genre { Value = Genre.Trim() };
        Movie.Genres.Add(genre);
        Genre = string.Empty;
    }

    private void RemoveGenre(Genre genre) => Movie.Genres.Remove(genre);

    private static bool IsEnterPressed(KeyboardEventArgs args) => args.Code is "Enter";
    private static bool IsInputFieldEmpty(string inputValue) => string.IsNullOrWhiteSpace(inputValue);
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("CalcInputWidthAndSet", GenreInput);
    }
    
}