@page "/Statistics"
@inject DatabaseContext DatabaseContext

<PageTitle>Статистика</PageTitle>

<div class="max-w-screen-lg w-full self-center flex flex-col gap-[20px]">

<DataWithLabelAndDetails
    Label="Количество просмотренных произведений"
    Text="@NumberOfWatchedMovies.ToString()"
    SummaryLabel="Детализация количества просмотренных произведений по типам"
    Details="@(new[] 
             {
                 ("Из них фильмов",      NumberOfWatchedFilms.ToString()), 
                 ("Из них сериалов",     NumberOfWatchedSeries.ToString()), 
                 ("Из них шоу",          NumberOfWatchedShows.ToString()), 
                 ("Из них мультфильмов", NumberOfWatchedCartoons.ToString()) 
             })"/>

<DataWithLabelAndDetails
    Label="Количество отложенных произведений"
    Text="@NumberOfPostponedMovies.ToString()"
    SummaryLabel="Детализация количества отложенных произведений по типам"
    Details="@(new[] 
             {
                 ("Из них фильмов",      NumberOfPostponedFilms.ToString()), 
                 ("Из них сериалов",     NumberOfPostponedSeries.ToString()), 
                 ("Из них шоу",          NumberOfPostponedShows.ToString()), 
                 ("Из них мультфильмов", NumberOfPostponedCartoons.ToString()) 
             })"/>

<DataWithLabelAndDetails
    Label="Средний рейтинг произведений"
    Text="@AverageMovieRating.ToString("F2")"
    SummaryLabel="Детализация среднего рейтинга произведений по типам"
    Details="@(new[] 
             {
                 ("Средний рейтинг фильмов",      AverageFilmRating.ToString("F2")), 
                 ("Средний рейтинг сериалов",     AverageSeriesRating.ToString("F2")), 
                 ("Средний рейтинг шоу",          AverageShowRating.ToString("F2")), 
                 ("Средний рейтинг мультфильмов", AverageCartoonRating.ToString("F2")) 
             })"/>

<Top10DataList
    Label="Топ-10 фильмов по рейтингу">
    @for (var i = 0; i < 10; i++)
    {
        @if (i < Top10MoviesByRaiting?.Length && Top10MoviesByRaiting?[i] is not null)
        {
            <li class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-100 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] mb-[5px] list-inside">@Top10MoviesByRaiting?[i].Name (@(Top10MoviesByRaiting?[i].Score / 2.0))</li>
        }
        else
        {
            <li class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-100 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] mb-[5px] list-inside">N/A</li>
        }
    }
</Top10DataList>

<div>
    <DataWithLabel
        Label="Самый современный просмотренный фильм"
        Text="@(NewestWatchedFilm is null ? "N/A" : $"{NewestWatchedFilm.Name} ({NewestWatchedFilm.ReleaseYear} год)")"/>
    <DataWithLabel
        Label="Самый современный просмотренный сериал"
        Text="@(NewestWatchedSeries is null ? "N/A" : $"{NewestWatchedSeries.Name} ({NewestWatchedSeries.ReleaseYear} год)")"/>
    <DataWithLabel
        Label="Самое современное просмотренное шоу"
        Text="@(NewestWatchedShow is null ? "N/A" : $"{NewestWatchedShow.Name} ({NewestWatchedShow.ReleaseYear} год)")"/>
    <DataWithLabel
        Label="Самый современный просмотренный мультфильм"
        Text="@(NewestWatchedCartoon is null ? "N/A" : $"{NewestWatchedCartoon.Name} ({NewestWatchedCartoon.ReleaseYear} год)")"/>    
</div>

<div>
    <DataWithLabel
        Label="Самый старый просмотренный фильм"
        Text="@(OldestWatchedFilm is null ? "N/A" : $"{OldestWatchedFilm.Name} ({OldestWatchedFilm.ReleaseYear} год)")"/>
    <DataWithLabel
        Label="Самый старый просмотренный сериал"
        Text="@(OldestWatchedSeries is null ? "N/A" : $"{OldestWatchedSeries.Name} ({OldestWatchedSeries.ReleaseYear} год)")"/>
    <DataWithLabel
        Label="Самое старое просмотренное шоу"
        Text="@(OldestWatchedShow is null ? "N/A" : $"{OldestWatchedShow.Name} ({OldestWatchedShow.ReleaseYear} год)")"/>
    <DataWithLabel
        Label="Самый старый просмотренный мультфильм"
        Text="@(OldestWatchedCartoon is null ? "N/A" : $"{OldestWatchedCartoon.Name} ({OldestWatchedCartoon.ReleaseYear} год)")"/>
</div>

<DataWithLabelAndDetails
    Label="Суммарное количество часов просмотра"
    Text="@TotalViewingHours.ToString()"
    SummaryLabel="Детализация суммарного количества часов просмотров произведений по типам"
    Details="@(new[] 
             {
                 ("Из них фильмов",      TotalFilmViewingHours.ToString()), 
                 ("Из них сериалов",     TotalSeriesViewingHours.ToString()), 
                 ("Из них шоу",          TotalShowViewingHours.ToString()), 
                 ("Из них мультфильмов", TotalCartoonViewingHours.ToString()) 
             })"/>

<div>
    <DataWithLabel
        Label="Самый длинный фильм"
        Text="@(LongestFilm is null ? "N/A" : $"{LongestFilm.Name} ({LongestFilm.Duration} минут)")"/>
    <DataWithLabel
        Label="Самый длинный сериал"
        Text="@(LongestSeries is null ? "N/A" : $"{LongestSeries.Name} ({LongestSeries.Duration} минут)")"/>
    <DataWithLabel
        Label="Самое длинное шоу"
        Text="@(LongestShow is null ? "N/A" : $"{LongestShow.Name} ({LongestShow.Duration} минут)")"/>
    <DataWithLabel
        Label="Самый длинный мультфильм"
        Text="@(LongestCartoon is null ? "N/A" : $"{LongestCartoon.Name} ({LongestCartoon.Duration} минут)")"/>    
</div>

<div>
    <DataWithLabel
        Label="Самый короткий фильм"
        Text="@(ShortestFilm is null ? "N/A" : $"{ShortestFilm.Name} ({ShortestFilm.Duration} минут)")"/>
    <DataWithLabel
        Label="Самый короткий сериал"
        Text="@(ShortestSeries is null ? "N/A" : $"{ShortestSeries.Name} ({ShortestSeries.Duration} минут)")"/>
    <DataWithLabel
        Label="Самое короткое шоу"
        Text="@(ShortestShow is null ? "N/A" : $"{ShortestShow.Name} ({ShortestShow.Duration} минут)")"/>
    <DataWithLabel
        Label="Самый короткий мультфильм"
        Text="@(ShortestCartoon is null ? "N/A" : $"{ShortestCartoon.Name} ({ShortestCartoon.Duration} минут)")"/>    
</div>

<Top10DataList
    Label="Топ-10 жанров по количеству просмотренных произведений">
    @for (var i = 0; i < 10; i++)
    {
        @if (i < Top10GenresByViews?.Length && Top10GenresByViews?[i] is not null)
        {
            <li class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-100 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] mb-[5px] list-inside">@Top10GenresByViews?[i].Genre (@Top10GenresByViews?[i].Count)</li>
        }
        else
        {
            <li class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-100 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] mb-[5px] list-inside">N/A</li>
        }
    }
</Top10DataList>

<Top10DataList
    Label="Топ-10 актеров по количеству просмотренных произведений">
    @for (var i = 0; i < 10; i++)
    {
        @if (i < Top10ActorsByViews?.Length && Top10ActorsByViews?[i] is not null)
        {
            <li class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-100 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] mb-[5px] list-inside">@Top10ActorsByViews?[i].Actor (@Top10ActorsByViews?[i].Count)</li>
        }
        else
        {
            <li class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-100 dark:bg-neutral-800 py-[5px] px-[10px] rounded-[5px] mb-[5px] list-inside">N/A</li>
        }
    }
</Top10DataList>

</div>

@code {

    private int NumberOfWatchedMovies { get; set; }
    private int NumberOfWatchedFilms { get; set; }
    private int NumberOfWatchedSeries { get; set; }
    private int NumberOfWatchedShows { get; set; }
    private int NumberOfWatchedCartoons { get; set; }

    private int NumberOfPostponedMovies { get; set; }
    private int NumberOfPostponedFilms { get; set; }
    private int NumberOfPostponedSeries { get; set; }
    private int NumberOfPostponedShows { get; set; }
    private int NumberOfPostponedCartoons { get; set; }

    private double AverageMovieRating { get; set; }
    private double AverageFilmRating { get; set; }
    private double AverageSeriesRating { get; set; }
    private double AverageShowRating { get; set; }
    private double AverageCartoonRating { get; set; }

    private Movie[]? Top10MoviesByRaiting { get; set; }

    private Movie? NewestWatchedFilm { get; set; }
    private Movie? NewestWatchedSeries { get; set; }
    private Movie? NewestWatchedShow { get; set; }
    private Movie? NewestWatchedCartoon { get; set; }

    private Movie? OldestWatchedFilm { get; set; }
    private Movie? OldestWatchedSeries { get; set; }
    private Movie? OldestWatchedShow { get; set; }
    private Movie? OldestWatchedCartoon { get; set; }

    private int TotalViewingHours { get; set; }
    private int TotalFilmViewingHours { get; set; }
    private int TotalSeriesViewingHours { get; set; }
    private int TotalShowViewingHours { get; set; }
    private int TotalCartoonViewingHours { get; set; }

    private Movie? LongestFilm { get; set; }
    private Movie? LongestSeries { get; set; }
    private Movie? LongestShow { get; set; }
    private Movie? LongestCartoon { get; set; }

    private Movie? ShortestFilm { get; set; }
    private Movie? ShortestSeries { get; set; }
    private Movie? ShortestShow { get; set; }
    private Movie? ShortestCartoon { get; set; }

    private GenreNameWithViewCounter[]? Top10GenresByViews { get; set; }
    private ActorNameWithViewCounter[]? Top10ActorsByViews { get; set; }

    protected override void OnInitialized()
    {
        NumberOfWatchedMovies = DatabaseContext.Movies.Count(movie => movie.WatchLater == false);
        NumberOfWatchedFilms = DatabaseContext.Movies.Count(movie => movie.WatchLater == false && movie.Type == MovieType.Film);
        NumberOfWatchedSeries = DatabaseContext.Movies.Count(movie => movie.WatchLater == false && movie.Type == MovieType.Series);
        NumberOfWatchedShows = DatabaseContext.Movies.Count(movie => movie.WatchLater == false && movie.Type == MovieType.Show);
        NumberOfWatchedCartoons = DatabaseContext.Movies.Count(movie => movie.WatchLater == false && movie.Type == MovieType.Cartoon);

        NumberOfPostponedMovies = DatabaseContext.Movies.Count(movie => movie.WatchLater == true);
        NumberOfPostponedFilms = DatabaseContext.Movies.Count(movie => movie.WatchLater == true && movie.Type == MovieType.Film);
        NumberOfPostponedSeries = DatabaseContext.Movies.Count(movie => movie.WatchLater == true && movie.Type == MovieType.Series);
        NumberOfPostponedShows = DatabaseContext.Movies.Count(movie => movie.WatchLater == true && movie.Type == MovieType.Show);
        NumberOfPostponedCartoons = DatabaseContext.Movies.Count(movie => movie.WatchLater == true && movie.Type == MovieType.Cartoon);

        AverageMovieRating = DatabaseContext.Movies.Any(movie => movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.WatchLater == false).Average(movie => movie.Score) / 2 : 0;

        AverageFilmRating = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Film && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Film && movie.WatchLater == false).Average(movie => movie.Score) / 2 : 0;

        AverageSeriesRating = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Series && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Series && movie.WatchLater == false).Average(movie => movie.Score) / 2 : 0;

        AverageShowRating = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Show && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Show && movie.WatchLater == false).Average(movie => movie.Score) / 2 : 0;

        AverageCartoonRating = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false).Average(movie => movie.Score) / 2 : 0;

        Top10MoviesByRaiting = DatabaseContext.Movies.Where(movie => movie.WatchLater == false).OrderByDescending(movie => movie.Score).Take(10).ToArray();

        NewestWatchedFilm = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Film && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Film && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.ReleaseYear)
            : null;

        NewestWatchedSeries = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Series && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Series && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.ReleaseYear)
            : null;

        NewestWatchedShow = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Show && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Show && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.ReleaseYear)
            : null;

        NewestWatchedCartoon = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.ReleaseYear)
            : null;

        OldestWatchedFilm = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Film && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Film && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.ReleaseYear)
            : null;

        OldestWatchedSeries = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Series && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Series && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.ReleaseYear)
            : null;

        OldestWatchedShow = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Show && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Show && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.ReleaseYear)
            : null;

        OldestWatchedCartoon = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.ReleaseYear)
            : null;

        const int minutesInHour = 60;
        TotalViewingHours = DatabaseContext.Movies.Where(movie => movie.WatchLater == false).Select(movie => movie.Duration!.Value).Sum() / minutesInHour;
        TotalFilmViewingHours = DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Film && movie.WatchLater == false).Select(movie => movie.Duration!.Value).Sum() / minutesInHour;
        TotalSeriesViewingHours = DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Series && movie.WatchLater == false).Select(movie => movie.Duration!.Value).Sum() / minutesInHour;
        TotalShowViewingHours = DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Show && movie.WatchLater == false).Select(movie => movie.Duration!.Value).Sum() / minutesInHour;
        TotalCartoonViewingHours = DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false).Select(movie => movie.Duration!.Value).Sum() / minutesInHour;

        LongestFilm = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Film && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Film && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.Duration)
            : null;

        LongestSeries = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Series && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Series && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.Duration)
            : null;

        LongestShow = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Show && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Show && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.Duration)
            : null;

        LongestCartoon = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false).AsEnumerable().MaxBy(movie => movie.Duration)
            : null;

        ShortestFilm = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Film && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Film && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.Duration)
            : null;

        ShortestSeries = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Series && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Series && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.Duration)
            : null;

        ShortestShow = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Show && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Show && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.Duration)
            : null;

        ShortestCartoon = DatabaseContext.Movies.Any(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false)
            ? DatabaseContext.Movies.Where(movie => movie.Type == MovieType.Cartoon && movie.WatchLater == false).AsEnumerable().MinBy(movie => movie.Duration)
            : null;

        Top10GenresByViews = DatabaseContext.Movies
            .Where(movie => movie.WatchLater == false)
            .SelectMany(movie => movie.Genres)
            .Select(genre => genre.Value)
            .GroupBy(genre => genre)
            .Select(genre => new GenreNameWithViewCounter
            {
                Genre = genre.Key,
                Count = genre.Count()
            })
            .OrderByDescending(genre => genre.Count)
            .Take(10)
            .ToArray();

        Top10ActorsByViews = DatabaseContext.Movies
            .Where(movie => movie.WatchLater == false)
            .SelectMany(movie => movie.Actors)
            .Select(actor => actor.Value)
            .GroupBy(actor => actor)
            .Select(actor => new ActorNameWithViewCounter
            {
                Actor = actor.Key,
                Count = actor.Count()
            })
            .OrderByDescending(actor => actor.Count)
            .Take(10)
            .ToArray();
    }

    public record GenreNameWithViewCounter
    {
        public string? Genre { get; init; }
        public int Count { get; init; }
    }

    public record DirectorNameWithViewCounter
    {
        public string? Director { get; init; }
        public int Count { get; init; }
    }

    public record WriterNameWithViewCounter
    {
        public string? Writer { get; init; }
        public int Count { get; init; }
    }

    public record ProducerNameWithViewCounter
    {
        public string? Producer { get; init; }
        public int Count { get; init; }
    }

    public record CompositorNameWithViewCounter
    {
        public string? Compositor { get; init; }
        public int Count { get; init; }
    }

    public record ActorNameWithViewCounter
    {
        public string? Actor { get; init; }
        public int Count { get; init; }
    }

}