<span class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400">Тип: </span>
<InputSelect class="text-[16px] font-bold text-neutral-950 dark:text-white bg-neutral-200 dark:bg-neutral-900 cursor-pointer py-[1px] px-[5px] ml-[5px] mr-[10px] rounded-[5px]" @bind-Value="MovieType" @onclick="() => MovieTypeChanged.InvokeAsync(MovieType)">
    <option value="@MovieType.All">любой</option>
    <option value="@MovieType.Film">фильм</option>
    <option value="@MovieType.Series">сериал</option>
    <option value="@MovieType.Show">шоу</option>
    <option value="@MovieType.Cartoon">мультфильм</option>
    <option value="@MovieType.CartoonSeries">мультсериал</option>
    <option value="@MovieType.Anime">аниме</option>
</InputSelect>

@code {

    [Parameter]
    public MovieType MovieType { get; set; }

    [Parameter]
    public EventCallback<MovieType> MovieTypeChanged { get; set; }

}