@page "/Movie/{Id:int?}"
@layout EmptyLayout
@inject DatabaseContext DatabaseContext
@inject NavigationManager NavigationManager

<PageTitle>Редактирование фильма</PageTitle>

<div class="movie-container">
    <div class="movie-subcontainer">
        <div class="preview-panel">
            @if (PosterPath is not null)
            {
                <div class="grid__item" style="background: url('@PosterPath'); background-size: 180px 320px; margin-bottom: 10px">
                    <h1 class="grid__title">@Name</h1>
                    <div class="grid__container">
                        <h2 class="grid__year">@ReleaseYear</h2>
                        <div class="grid__score">
                            @for (var i = 0; i < Score; i++)
                            {
                                <img class="grid__star" src="icons/star.svg" alt="Тут звезда"/>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="preview-panel__poster data-title">Превью обложки</div>
            }
            <InputFile class="button preview-panel__button" id="file" OnChange="@LoadPoster">Загрузить обложку</InputFile>
            <label class="button preview-panel__button preview-panel__label" for="file" style="display: flex; align-items: center">
                Загрузить обложку
            </label>
            <a class="button preview-panel__button" href="https://www.moviemania.io/phone" target="_blank">Искать обложку</a>
        </div>
        <div class="data-panel">
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Тип произведения:</h2>
                <InputSelect class="data-value data-value_inverted data-value__input" @bind-Value="Type">
                    <option value="@MovieType.Film">Фильм</option>
                    <option value="@MovieType.Series">Сериал</option>
                    <option value="@MovieType.Cartoon">Мультфильм</option>
                </InputSelect>
            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Название фильма:</h2>
                <InputText class="data-value data-value_inverted data-value__input" placeholder="Введите название..." @bind-Value="Name"/>
            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Год выхода:</h2>
                <InputNumber class="data-value data-value_inverted data-value__input" placeholder="Введите год..." @bind-Value="ReleaseYear"/>
            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Длительность:</h2>
                <InputNumber class="data-value data-value_inverted data-value__input" placeholder="Введите длительность..." @bind-Value="Duration"/>
            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Жанр:</h2>
                <div class="data-section">
                    @foreach (var genre in Genres)
                    {
                        <InteractiveDataValue TItem="Genre" Data="@genre" RemoveData="RemoveGenre"/>
                    }
                    <InputText class="data-value data-value_inverted data-value__input_small" placeholder="Введите жанр..." @onkeydown="AddGenre" @bind-Value="Genre"/>
                </div>
            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Режиссер:</h2>
                <div class="data-section">
                    @foreach (var director in Directors)
                    {
                        <InteractiveDataValue TItem="Director" Data="@director" RemoveData="RemoveDirector"/>
                    }
                    <InputText class="data-value data-value_inverted data-value__input_small" placeholder="Введите режиссера..." @onkeydown="AddDirector" @bind-Value="Director"/>
                </div>

            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Сценарист:</h2>
                <div class="data-section">
                    @foreach (var writer in Writers)
                    {
                        <InteractiveDataValue TItem="Writer" Data="@writer" RemoveData="RemoveWriter"/>
                    }
                    <InputText class="data-value data-value_inverted data-value__input_small" placeholder="Введите сценариста..." @onkeydown="AddWriter" @bind-Value="Writer"/>
                </div>

            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Композитор:</h2>
                <div class="data-section">
                    @foreach (var compositor in Compositors)
                    {
                        <InteractiveDataValue TItem="Compositor" Data="@compositor" RemoveData="RemoveCompositor"/>
                    }
                    <InputText class="data-value data-value_inverted data-value__input_small" placeholder="Введите композитора..." @onkeydown="AddCompositor" @bind-Value="Compositor"/>
                </div>

            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">В главных ролях:</h2>
                <div class="data-section">
                    @foreach (var actor in Actors)
                    {
                        <InteractiveDataValue TItem="Actor" Data="@actor" RemoveData="RemoveActor"/>
                    }
                    <InputText class="data-value data-value_inverted data-value__input_small" placeholder="Введите актера..." @onkeydown="AddActor" @bind-Value="Actor"/>
                </div>

            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Оценка:</h2>
                <MovieScore @bind-Score="Score"/>
            </div>
            <div class="data-panel__section">
                <h2 class="data-title data-panel__title">Заметка:</h2>
                <textarea class="data-value data-value_inverted data-value__input data-panel__textarea" placeholder="Введите текст заметки..." resize="none" @bind="Note" @bind:event="oninput"></textarea>
            </div>
        </div>
    </div>
    <div class="buttons-container">
        <div class="left-buttons-section">
            <button class="button buttons-container__button" @onclick="Back">Назад</button>
        </div>
        <div class="right-buttons-section">
            <button class="danger-button buttons-container__ico" @onclick="Delete">
                <img class="ico" src="icons/delete.svg" alt="Иконка удаления"/>
            </button>
            <button class="button buttons-container__button" @onclick="AddToWatchLater">Смотреть позже</button>
            <button class="apply-button buttons-container__button" @onclick="Publish">Опубликовать</button>
        </div>
    </div>
</div>

@code {
    private Movie? Movie { get; set; } 

    [Parameter]
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private string? PosterPath { get; set; }
    private MovieType Type { get; set; }
    private string Name { get; set; } = string.Empty;
    private int? ReleaseYear { get; set; }
    private int? Duration { get; set; }

    private List<Genre> Genres { get; set; } = new();
    private string Genre { get; set; } = string.Empty;

    private List<Director> Directors { get; set; } = new();
    private string Director { get; set; } = string.Empty;

    private List<Writer> Writers { get; set; } = new();
    private string Writer { get; set; } = string.Empty;

    private List<Compositor> Compositors { get; set; } = new();
    private string Compositor { get; set; } = string.Empty;

    private List<Actor> Actors { get; set; } = new();
    private string Actor { get; set; } = string.Empty;

    private int Score { get; set; }
    private string Note { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        LoadMovieData(Id);
    }

    private void LoadMovieData(int id)
    {
        if (id == 0) return;
        
        Movie = DatabaseContext.Movies
            .Include(x => x.Genres)
            .Include(x => x.Directors)
            .Include(x => x.Writers)
            .Include(x => x.Compositors)
            .Include(x => x.Actors)
            .First(x => x.Id == Id);

        PosterPath = Movie.PosterPath;
        Type = Movie.Type;
        Name = Movie.Name;
        ReleaseYear = Movie.ReleaseYear;
        Duration = Movie.Duration;
        Genres = Movie.Genres.ToList();
        Directors = Movie.Directors.ToList();
        Writers = Movie.Writers.ToList();
        Compositors = Movie.Compositors.ToList();
        Actors = Movie.Actors.ToList();
        Score = Movie.Score;
        Note = Movie.Note;
    }

    private void AddGenre(KeyboardEventArgs args)
    {
        if (!IsEnterPressed(args) || IsInputFieldEmpty(Genre))
            return;

        var genre = new Genre { Value = Genre.Trim() };
        Genres.Add(genre);
        Genre = string.Empty;
    }

    private void RemoveGenre(Genre genre) => Genres.Remove(genre);

    private void AddDirector(KeyboardEventArgs args)
    {
        if (!IsEnterPressed(args) || IsInputFieldEmpty(Director))
            return;

        var director = new Director { Value = Director.Trim() };
        Directors.Add(director);
        Director = string.Empty;
    }

    private void RemoveDirector(Director director) => Directors.Remove(director);

    private void AddWriter(KeyboardEventArgs args)
    {
        if (!IsEnterPressed(args) || IsInputFieldEmpty(Writer))
            return;

        var writer = new Writer { Value = Writer.Trim() };
        Writers.Add(writer);
        Writer = string.Empty;
    }

    private void RemoveWriter(Writer writer) => Writers.Remove(writer);

    private void AddCompositor(KeyboardEventArgs args)
    {
        if (!IsEnterPressed(args) || IsInputFieldEmpty(Compositor))
            return;

        var compositor = new Compositor { Value = Compositor.Trim() };
        Compositors.Add(compositor);
        Compositor = string.Empty;
    }

    private void RemoveCompositor(Compositor compositor) => Compositors.Remove(compositor);

    private void AddActor(KeyboardEventArgs args)
    {
        if (!IsEnterPressed(args) || IsInputFieldEmpty(Actor))
            return;

        var actor = new Actor { Value = Actor.Trim() };
        Actors.Add(actor);
        Actor = string.Empty;
    }

    private void RemoveActor(Actor actor) => Actors.Remove(actor);

    private async Task LoadPoster(InputFileChangeEventArgs inputFile)
    {
        var filePath = "posters/" + inputFile.File.Name;
        var fileUploadPath = "/app/wwwroot/posters/" + inputFile.File.Name;
        const int maxAllowedFileSize = 1024 * 1024 * 5;

        try
        {
            await using FileStream fileStream = new(fileUploadPath, FileMode.Create);
            await inputFile.File.OpenReadStream(maxAllowedFileSize).CopyToAsync(fileStream);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

        PosterPath = filePath;
    }

    private void Back() => NavigationManager.NavigateTo("/");

    private void Delete()
    {
        if (Movie is not null)
        {
            DatabaseContext.Movies.Remove(Movie);
            DatabaseContext.SaveChanges();
        }

        NavigationManager.NavigateTo("/");
    }

    private void AddToWatchLater()
    {
        if (PosterPath is null)
            return;

        if (ReleaseYear is null)
            return;

        if (Duration is null)
            return;

        if (Movie is null)
        {
            var movie = new Movie()
            {
                WatchLater = true,
                PosterPath = PosterPath,
                Type = Type,
                Name = Name,
                ReleaseYear = ReleaseYear.Value,
                Duration = Duration.Value,
                Genres = Genres.ToList(),
                Directors = Directors.ToList(),
                Writers = Writers.ToList(),
                Compositors = Compositors.ToList(),
                Actors = Actors.ToList(),
                Score = Score,
                Note = Note,
                PublishDate = DateTime.Now
            };

            DatabaseContext.Movies.Add(movie);
            DatabaseContext.SaveChanges();
        }
        else
        {
            Movie.WatchLater = true;
            Movie.PosterPath = PosterPath;
            Movie.Type = Type;
            Movie.Name = Name;
            Movie.ReleaseYear = ReleaseYear.Value;
            Movie.Duration = Duration.Value;
            Movie.Genres = Genres.ToList();
            Movie.Directors = Directors.ToList();
            Movie.Writers = Writers.ToList();
            Movie.Compositors = Compositors.ToList();
            Movie.Actors = Actors.ToList();
            Movie.Score = Score;
            Movie.Note = Note;
            Movie.PublishDate = DateTime.Now;

            DatabaseContext.Movies.Update(Movie);
            DatabaseContext.SaveChanges();
        }

        NavigationManager.NavigateTo("WatchLater");
    }

    private void Publish()
    {
        if (PosterPath is null)
            return;

        if (ReleaseYear is null)
            return;

        if (Duration is null)
            return;

        if (Movie is null)
        {
            var movie = new Movie()
            {
                PosterPath = PosterPath,
                Type = Type,
                Name = Name,
                ReleaseYear = ReleaseYear.Value,
                Duration = Duration.Value,
                Genres = Genres.ToList(),
                Directors = Directors.ToList(),
                Writers = Writers.ToList(),
                Compositors = Compositors.ToList(),
                Actors = Actors.ToList(),
                Score = Score,
                Note = Note,
                PublishDate = DateTime.Now
            };

            DatabaseContext.Movies.Add(movie);
            DatabaseContext.SaveChanges();
        }
        else
        {
            Movie.WatchLater = false;
            Movie.PosterPath = PosterPath;
            Movie.Type = Type;
            Movie.Name = Name;
            Movie.ReleaseYear = ReleaseYear.Value;
            Movie.Duration = Duration.Value;
            Movie.Genres = Genres.ToList();
            Movie.Directors = Directors.ToList();
            Movie.Writers = Writers.ToList();
            Movie.Compositors = Compositors.ToList();
            Movie.Actors = Actors.ToList();
            Movie.Score = Score;
            Movie.Note = Note;
            Movie.PublishDate = DateTime.Now;

            DatabaseContext.Movies.Update(Movie);
            DatabaseContext.SaveChanges();
        }

        NavigationManager.NavigateTo("/");
    }
    
    private static bool IsEnterPressed(KeyboardEventArgs args) => args.Code is "Enter";
    private static bool IsInputFieldEmpty(string inputValue) => string.IsNullOrWhiteSpace(inputValue);
}