@page "/WatchLater"
@inject MovieService MovieService
@inject ILocalStorageService LocalStorage
@implements IDisposable

<PageTitle>Отложенные</PageTitle>

<div class="flex flex-wrap">
    <SortDropdown @bind-SortType="@SortType" OnSortTypeUpdate="@(() => LocalStorage.SetItemAsync("SortType", SortType))"/>
    <MovieTypeSortDropdown @bind-MovieType="@MovieType" OnMovieTypeUpdate="@(() => LocalStorage.SetItemAsync("MovieType", MovieType))"/>
    <TagSortDropdown @bind-Tag="@Tag" OnMovieTagUpdate="@(() => LocalStorage.SetItemAsync("MovieTag", Tag))"/>
    <ResetButton OnClick="ResetSorting"/>
</div>

@if (MovieService.GetShelvedMovies(SortType, MovieType, Tag) is { Count: not 0 } movies)
{
    <MovieGrid Movies="@movies"/>
}
else
{
    @if (MovieService.HasAnyShelvedMovie())
    {
        <div class="flex justify-center items-center text-neutral-600 dark:text-neutral-400 font-bold text-[18px] grow">
            Нет ничего, чтобы удовлетворяло текущим настройкам сортировки.
        </div>
    }
    else
    {
        <div class="flex justify-center items-center text-neutral-600 dark:text-neutral-400 font-bold text-[18px] grow">
            У вас нет отложенных фильмов.
        </div>
    }
}

@code {
    private SortType SortType { get; set; }
    private MovieType MovieType { get; set; }
    private string Tag { get; set; } = "all";

    protected override async Task OnParametersSetAsync()
    {
        SortType = await LocalStorage.GetItemAsync<SortType>("SortType");
        MovieType = await LocalStorage.GetItemAsync<MovieType>("MovieType");
        Tag = await LocalStorage.GetItemAsync<string>("MovieTag") ?? "all";
    }
    
    private async void ResetSorting()
    {
        SortType = SortType.None;
        MovieType = MovieType.All;
        Tag = "all";

        await LocalStorage.RemoveItemAsync("SortType");
        await LocalStorage.RemoveItemAsync("MovieType");
        await LocalStorage.RemoveItemAsync("MovieTag");
    }
    
    public void Dispose()
    {
        MovieService.Dispose();
    }
}