@page "/Statistics"
@inject StatisticsService StatisticsService

<PageTitle>Статистика</PageTitle>

<div class="max-w-screen-lg w-full self-center flex flex-col gap-[20px]">

<DataWithLabelAndDetails
    Label="Количество просмотренных произведений"
    Text="@StatisticsService.GetNumberOfWatchedMovies()"
    SummaryLabel="Количество просмотренных произведений по типам"
    Details="@(new[] 
    {
        ("Фильмы",       StatisticsService.GetNumberOfWatchedFilms()),
        ("Сериалы",      StatisticsService.GetNumberOfWatchedSeries()),
        ("Шоу",          StatisticsService.GetNumberOfWatchedShows()),
        ("Мультфильмы",  StatisticsService.GetNumberOfWatchedCartoons()),
        ("Мультсериалы", StatisticsService.GetNumberOfWatchedCartoonSeries()),
        ("Аниме",        StatisticsService.GetNumberOfWatchedAnime())
    })"/>
             
<DataWithLabelAndDetails
     Label="Количество отложенных произведений"
     Text="@StatisticsService.GetNumberOfPostponedMovies()"
     SummaryLabel="Количество отложенных произведений по типам"
     Details="@(new[] 
     {
        ("Фильмы",       StatisticsService.GetNumberOfPostponedFilms()),
        ("Сериалы",      StatisticsService.GetNumberOfPostponedSeries()),
        ("Шоу",          StatisticsService.GetNumberOfPostponedShows()),
        ("Мультфильмы",  StatisticsService.GetNumberOfPostponedCartoons()),
        ("Мультсериалы", StatisticsService.GetNumberOfPostponedCartoonSeries()),
        ("Аниме",        StatisticsService.GetNumberOfPostponedAnime())
     })"/>
     
<div>
    <Top10MoviesByRaiting
        Label="Топ-10 фильмов по рейтингу"
        MovieTitleWithScoreDtos="@StatisticsService.GetTop10FilmsByRaiting()">
    </Top10MoviesByRaiting>

    <Top10MoviesByRaiting
        Label="Топ-10 сериалов по рейтингу"
        MovieTitleWithScoreDtos="@StatisticsService.GetTop10SeriesByRaiting()">
    </Top10MoviesByRaiting>
    
    <Top10MoviesByRaiting
        Label="Топ-10 шоу по рейтингу"
        MovieTitleWithScoreDtos="@StatisticsService.GetTop10ShowsByRaiting()">
    </Top10MoviesByRaiting>
    
    <Top10MoviesByRaiting
        Label="Топ-10 мультфильмов по рейтингу"
        MovieTitleWithScoreDtos="@StatisticsService.GetTop10CartoonsByRaiting()">
    </Top10MoviesByRaiting>
    
    <Top10MoviesByRaiting
        Label="Топ-10 мультсериалов по рейтингу"
        MovieTitleWithScoreDtos="@StatisticsService.GetTop10CartoonSeriesByRaiting()">
    </Top10MoviesByRaiting>
    
    <Top10MoviesByRaiting
        Label="Топ-10 аниме по рейтингу"
        MovieTitleWithScoreDtos="@StatisticsService.GetTop10AnimeByRaiting()">
    </Top10MoviesByRaiting>
</div> 

<Top10TagsByViews
    Label="Топ-10 тегов по количеству просмотренных произведений"
    TagWithViewCounterDtos="@StatisticsService.GetTop10TagsByViews()">
</Top10TagsByViews>

<DataWithLabelAndDetails
    Label="Самое современное просмотренное произведение"
    Text="@StatisticsService.GetNewestWatchedMovie()"
    SummaryLabel="Самые современные просмотренные произведения по типам"
    Details="@(new[]
    {
        ("Фильм",       StatisticsService.GetNewestWatchedFilm()),
        ("Сериал",      StatisticsService.GetNewestWatchedSeries()),
        ("Шоу",         StatisticsService.GetNewestWatchedShow()),
        ("Мультфильм",  StatisticsService.GetNewestWatchedCartoon()),
        ("Мультсериал", StatisticsService.GetNewestWatchedCartoonSeries()),
        ("Аниме",       StatisticsService.GetNewestWatchedAnime())
    })"/>

<DataWithLabelAndDetails
    Label="Самое старое просмотренное произведение"
    Text="@StatisticsService.GetOldestWatchedMovie()"
    SummaryLabel="Самые старые просмотренные произведения по типам"
    Details="@(new[]
    {
        ("Фильм",       StatisticsService.GetOldestWatchedFilm()),
        ("Сериал",      StatisticsService.GetOldestWatchedSeries()),
        ("Шоу",         StatisticsService.GetOldestWatchedShow()),
        ("Мультфильм",  StatisticsService.GetOldestWatchedCartoon()),
        ("Мультсериал", StatisticsService.GetOldestWatchedCartoonSeries()),
        ("Аниме",       StatisticsService.GetOldestWatchedAnime())
    })"/>
    
<DataWithLabelAndDetails
    Label="Суммарное количество часов просмотра"
    Text="@StatisticsService.GetTotalWatchedViewingHours()"
    SummaryLabel="Суммарного количества часов просмотра по типам произведений"
    Details="@(new[] 
    {
        ("Фильмы",       StatisticsService.GetTotalWatchedFilmViewingHours()),
        ("Сериалы",      StatisticsService.GetTotalWatchedSeriesViewingHours()),
        ("Шоу",          StatisticsService.GetTotalWatchedShowViewingHours()),
        ("Мультфильмы",  StatisticsService.GetTotalWatchedCartoonViewingHours()),
        ("Мультсериалы", StatisticsService.GetTotalWatchedCartoonSeriesViewingHours()),
        ("Аниме",        StatisticsService.GetTotalWatchedAnimeViewingHours())
    })"/>

<DataWithLabelAndDetails
    Label="Самое длинное просмотренное произведение"
    Text="@StatisticsService.GetLongestWatchedMovie()"
    SummaryLabel="Самые длинные просмотренные произведения по типам"
    Details="@(new[]
    {
        ("Фильм",       StatisticsService.GetLongestWatchedFilm()),
        ("Сериал",      StatisticsService.GetLongestWatchedSeries()),
        ("Шоу",          StatisticsService.GetLongestWatchedShow()),
        ("Мультфильм",  StatisticsService.GetLongestWatchedCartoon()),
        ("Мультсериал", StatisticsService.GetLongestWatchedCartoonSeries()),
        ("Аниме",        StatisticsService.GetLongestWatchedAnime())
    })"/>

<DataWithLabelAndDetails
    Label="Самое короткое просмотренное произведение"
    Text="@StatisticsService.GetShortestWatchedMovie()"
    SummaryLabel="Самые короткие просмотренные произведения по типам"
    Details="@(new[]
    {
        ("Фильм",       StatisticsService.GetShortestWatchedFilm()),
        ("Сериал",      StatisticsService.GetShortestWatchedSeries()),
        ("Шоу",          StatisticsService.GetShortestWatchedShow()),
        ("Мультфильм",  StatisticsService.GetShortestWatchedCartoon()),
        ("Мультсериал", StatisticsService.GetShortestWatchedCartoonSeries()),
        ("Аниме",        StatisticsService.GetShortestWatchedAnime())
    })"/>    

</div>