@inject NavigationManager NavigationManager

<div class="grid grid-cols-[repeat(auto-fill,_minmax(180px,_1fr))] gap-[30px] justify-items-center mx-[50px] mt-[20px]">
    @foreach (var movie in Movies)
    {
        <MoviePoster
            Id="@movie.Id"
            PosterPath="@movie.PosterPath"
            Name="@movie.Name"
            ReleaseYear="@movie.ReleaseYear"
            Score="@movie.Score"
            OpenInMovieEditor="OpenInMovieEditor"/>
    }
</div>

@code {

    [Parameter]
    public List<Movie> Movies { get; set; } = new();

    private void OpenInMovieEditor(int id)
    {
        NavigationManager.NavigateTo($"/Movie/?Id={id}");
    }

}